{% extends 'base.html.twig' %}

{% block title %}XC3 Checklist - Home{% endblock %}


{% block body %}
    <h1>Character Classes</h1>
    <div class="progress-container">
        <div class="progress-bar" style="width: {{ classProgress|round(0, 'floor') }}%;" id="progress-bar"></div>
        <span class="progress-label">{{ classProgress|number_format(0) }}% Complete</span>
    </div>
{% endblock %}
